form {
	dl {
		margin-bottom:30px;
		dt {
			display:block;
			width:140px;
			float:left;
			text-align:right;
			margin:4px;
		}
		dd {
			display:block;
		}
	}
	input {
		outline-color:#c10000;
		color:#333;
	}
}