form {
	* {
		font-family:Lucida Sans Unicode, Lucida Grande, sans-serif;
	}
	dl {
		margin-bottom:30px;
		dt {
			display:block;
			width:180px;
			float:left;
			text-align:right;
			margin:4px;
		}
		dd {
			display:block;
		}
	}
	input {
		outline-color:#c10000;
		color:#333;
	}
}