* {
	font-family:'Quicksand', Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size:16px;
}
h1 {
	margin-top:0px;
}
body {
	overflow:hidden;
	background-color:#f8f8f8;
	margin:0px;
}
a {
	outline:none;
	text-decoration:none;
	color:#c10000;
}


#content {
	position:absolute;
	top:0px;
	left:0px;
	bottom:80px;
	right:0px;
	z-index:10;
	overflow-y:scroll;
}


