#note_holder {
	padding:20px 20px 20px 70px;
	h1 {
		font-size:38px;
	}
	a {
		display:block;
	}
	#note {
		form {
			position:relative;
			padding-right:90px;
			div.actions {
				display:none;
				position:absolute;
				top:4px;
				right:0px;
				width:50px;
			}
			&.edit_section:hover div.actions {
				display:block;
			}
			textarea {
				width:100%;
				border:0px;
				padding:10px;
				font-size:24px;
				@include border-radius(4px);
				outline: none;
				background-color:#eee;
				color:#666;
				&:focus {
					color:#000;
					background-color:#fff;
					& + div.actions {
						display:block;
					}
				}
			}
			&.new_section textarea {
				color:#ccc;
				&:focus {
					color:#fff;
				}
				
			}
		}
	}
}
