<div id="footer">

	<%= image_tag '/assets/logo.png', :class => "logo" %>
	
	<div class="menu">
		<%= link_to_function "about", "showAbout()", :class => "button" %>
		<%= link_to "logout", user_session_path, :method => :delete, :class => "button" %>
	</div>
</div>