<div id="sidebar">
	Our document pane<br/>
	Is still being built<br/>
	<br/>
	Launching without it<br/>
	Gave us feelings of guilt<br/>
	<br/>
	But we know you'll be patient<br/>
	You have been before<br/>
	<br/>
	It'll be coming real soon<br/>
	Along with much more<br/>
	<div id="tab">
	</div>
</div>

<script>
	$("#tab").live('mouseover', function() { $("#sidebar").animate({"left": "0px"}, 500); });
	$("#sidebar").live('mouseleave', function() { $("#sidebar").animate({"left": "-300px"}, 500); });
</script>