<!DOCTYPE html>
<html>
<head>
  <title>noteab.ly</title>
	<link rel="shortcut icon" href="/assets/favicon.png" />
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>

  <meta property="og:title" content="noteab.ly"/>
  <meta property="og:url" content="http://noteab.ly"/>
  <meta property="og:image" content="http://noteab.ly/assets/logo.png"/>
  <meta property="og:site_name" content="noteab.ly"/>
  <meta property="fb:admins" content="676899531"/>
  <meta property="og:description" content="Simply. Beautiful. Notes."/>
</head>
<body>
	<div id="content">
		<%=yield%>
	</div>
</body>
</html>
